* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #fff;
  border-bottom: 1px solid #0a7d2c;
  position: sticky;
}

nav div a img {
  width: 100px;
  height: 90px;
  display: flex;
  margin-left: 20px;
  border-radius: 10px 10px;
}

.nav-links a {
  height: 80px;
  margin-left: 25px;
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  color: #0a7d2c;
}

.btn {
  padding: 8px 16px;
  background: #0a7d2c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* margin-left: 65px; */
}

#nav-btn {
  padding: 8px 16px;
  background: #0a7d2c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#nav-btn:hover {
  color: black;
}

.btn-outline {
  padding: 8px 16px;
  border: 1px solid #0a7d2c;
  color: #0a7d2c;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
}

.btn:hover {
  color: black;
}

/* Hero */
#hero {
  background-image: url("media/hero2.png");
  background-size: 100% 100%;
  padding: 50px 70px;
  height: 550px;
}

#hero .start {
  display: block;
  font-size: 15px;
  color: #0a7d2c;
  margin-bottom: 20px;
  /* margin-left: 80px; */
  text-transform: uppercase;
}

#hero .start + h1 {
  /* margin-left: -93px; */
  color: #666;
}

#hero .head {
  font-size: 36px;
  margin-bottom: 15px;
  /* margin-left: 70px; */
  color: #0a7d2c;
}

#hero .p-tag {
  display: block;
  max-width: 600px;
  margin: 20px 20px 20px 0;
  color: #666;
}

#hero .aside {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  height: 90px;
  background-color: #f5f5f5;
  margin-top: 65px;
  border-radius: 10px;
}

.aside .small-aside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 22%;
  height: 100%;
  background-color: #f5f5f5;
}

.aside .small-aside .icon {
  width: 20px;
  height: 20px;
  margin: 15px;
  font-size: medium;
}

.aside .small-aside h1 {
  font-size: 20px;
  color: #0a7d2c;
}

.aside .small-aside p {
  font-size: 14px;
  color: #666;
  margin-left: 25px;
  margin-bottom: 25px;
}

.aside .small-aside .span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #e9e5e5;
  border-radius: 100%;
  margin: 10px;
}

/* Programs */
.section h5 {
  text-align: center;
  color: #0a7d2c;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.section {
  padding: 60px 70px;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 250px;
  gap: 20px;
    /* box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.08); */

}

.card {
  background: white;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.08);
}

.grid .card .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 15px 20px;
  background-color: #0a7d2c;
}

.grid .card .icons img {
  width: 30px;
  height: 30px;
}

.card h4 {
  color: #0a7d2c;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.card p {
  color: #666;
  font-size: 15px;
}

/* Why Section */
.why {
  background: #fff;
  text-align: center;
}

.why div {
  margin-bottom: 20px;
}
.why h3 {
  color: #0a7d2c;
  margin-bottom: 20px;
}
.why p {
  color: #666;
  font-size: 17px;
  max-width: 600px;
  margin: 0 auto;
}

/* about */
#about {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  padding: 30px 70px;
  justify-content: space-evenly;
  margin-top: 10px;
  background: #f9f9f9;
  /* gap: 50px; */

  > h4 {
    /* text-align: center; */
    color: #0a7d2c;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
}

#about h2 {
  width: 100%;
  display: block;
  text-align: center;
  /* color: #0a7d2c; */
  margin-bottom: 30px;
}

.about-img {
  display: flex;
  align-items: center;
  width: 49%;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.img1 {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  /* object-fit: cover; */
}

.about-content {
  width: 49%;
  height: 400px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  /* box-shadow: 0 0 15px 5px rgba(0, 150, 255, 0.5); */
  /* box-shadow: 0 0 10px 1px rgba(10, 125, 44, 0.5) inset; */

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.08);

  .span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
    background-color: #e9e5e5;
    border-radius: 100%;
    margin: 25px 0 0 30px;
  }

  > .small {
    display: flex;
    justify-content: center;
    width: 17%;
    height: 100%;
    border-radius: 20px;
    /* background-color: #0a7d2c; */
  }

  > .big {
    width: 83%;
    height: 100%;
    /* background-color: blue; */
    border-radius: 20px;
    padding: 15px;
    /* float: right; */

    > h5 {
      display: inline-flex;
      color: #0a7d2c;
      margin: 20px 0 10px 0;
      text-align: center;
    }

    > p {
      display: block;
      color: #666;
      font-size: 15px;
      max-width: 500px;
      margin: 0 auto;
      /* text-align: center; */
    }

    > h3 {
      display: block;
      /* color: #0a7d2c; */
      margin: 10px 0 15px 0;
      /* text-align: center; */
    }
  }
}

.second-about {
  height: 150px;
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  border-radius: 20px;
  /* background-color: #0a7d2c; */

  > .child {
    height: 100%;
  }

  .big {
    width: 80%;
    height: 100%;
    /* background-color: blue; */
    /* border-radius: 20px; */
    padding: 5px 0 0 15px;

    > h5 {
      display: inline-flex;
      color: #0a7d2c;
      margin: 15px 0 8px 0;
      text-align: center;
    }
    > p {
      display: block;
      color: #666;
      font-size: 15px;
      /* text-align: center; */
      /* max-width: 500px; */
      margin: 0 auto;
    }
  }
}
.child {
  display: flex;
  height: 100px;
  width: 33%;
  background-color: white;

  .small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    /* border-radius: 20px; */
    /* background-color: red; */

    .span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 40px;
      height: 40px;
      background-color: #e9e5e5;
      border-radius: 100%;
    }
  }
}

/* testimonials */
#testimonials {
  padding: 60px 70px;

  > h4 {
    text-align: center;
    color: #0a7d2c;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  > h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.card > p {
  color: #666;
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
}

.card h3 {
  color: #0a7d2c;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

.card aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  /* background-color: red; */

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #e9e5e5;

    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
  }
}

/* contact */
#contact {
  text-align: center;
  height: 800px;
  padding: 20px 70px 50px 70px;
  background-color: #fff;

  > h4 {
    text-align: center;
    display: block;
    color: #0a7d2c;
    margin-bottom: 20px auto;
    font-size: 14px;
    margin: 20px;
  }

  > h2 {
    margin-bottom: 5px;
  }

  > p {
    color: #666;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .contact-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > .touch {
      width: 43%;
      background-color: white;
      margin-bottom: 30px;
      height: 500px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      /* border: 0.2px solid #f5f5f5; */
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-evenly; */
      align-items: flex-start;
      text-align: start;

      > h3 {
        /* color: white; */
        font-size: 22px;
        margin: 10px 0 5px 40px;
        text-align: left;
        /* margin-bottom: 10px; */
        text-align: left;
        color: #0a7d2c;
      }

      > p {
        color: #666;
        /* font-size: 15px; */
        margin-bottom: 15px;
        font-size: 14px;
        /* margin: 0 auto; */
        text-align: left;
        max-width: 400px;
        margin-left: 25px;
      }

      aside {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 20%;
        height: 13%;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background-color: #e9e5e5;
          border-radius: 100%;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      > .socials {
        display: flex;
        justify-content: flex-start;

        align-items: center;
        width: 100%;
        height: 13%;
        /* background-color: red; */

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px;
          width: 40px;
          height: 40px;
          /* background-color: #e9e5e5; */
          border-radius: 100%;
        }
      }

      article {
        text-align: start;
        width: 80%;
        height: 13%;
        align-items: center;

        h5 {
          font-size: 18px;
        }

        p {
          color: #666;
          font-size: 13px;
        }
      }
    }

    + h5 {
      font-size: 18px;
      margin-left: 20px;
    }
  }
}

.contact-form {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 52%;
  height: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 20px;
}
.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.form-row input {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.full-width {
  margin-bottom: 15px;
}

textarea {
  margin-bottom: 15px;
  resize: none;
}

.send-btn {
  width: 100%;
  padding: 12px;
  background: #0a7d2c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.send-btn:hover {
  background: #096b25;
}



footer {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  padding: 30px 80px;
  text-align: center;
  background-color: white;
  font-size: 15px;

  > .footer-text1 {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 80%;
    background-color: red;

    > div {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center;
      align-items: center; */
      width: 100%;
      height: 90px;

      img {
        width: 100px;
        height: 90px;
      }

      > h2 {
        font-size: 22px;
        margin-left: 10px;
        /* letter-spacing: 3px; */
        /* color: white; */
        /* margin: 20px 10px; */
      }

      > p {
        width: 100%;
        /* color: white; */
        font-size: 15px;
      }
    }
  }

  > .footer-text2 {
    /* display: flex; */
    width: 15%;
    height: 80%;
    /* background-color: blue; */

    > h5 {
      display: block;
      font-size: 14px;
      margin-bottom: 10px;
      letter-spacing: 2px;
      margin-top: 30px;
    }

    > a {
      text-decoration: none;
      display: block;
      color: #333;
      margin-bottom: 15px;
      font-size: 17px;
      font-weight: 600;

      img {
        width: 15px;
        height: 13px;
        margin-top: 10px;
      }
    }
  }


  > .footer-text3 {
    display: flex;
    width: 20%;
    height: 80%;
    background-color: greenyellow;

    h5 {
      display: block;
      font-size: 14px;
      margin-bottom: 10px;
      letter-spacing: 2px;
    }
  }

  > .footer-text4 {
    display: flex;
    width: 30%;
    height: 80%;
    background-color: yellow;
  }
}

.mobile {
  display: none;
}

@media screen and (max-width: 915px) {
  .hero .aside {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 110px;
    background-color: #f5f5f5;
    margin-top: 65px;
    /* margin-left: 65px; */
    border-radius: 10px;
  }

  #nav-btn {
    display: none;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 755px) {
  .container {
    padding: 0 20px;
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100dvh;
    background-color: #929191;
  }

  .mobile h1 {
    font-size: 24px;
    color: #0a7d2c;
    text-align: center;
  }
}
